@font-face {
	font-family: "mm-icons";
	src: url('../fonts/mm-icons.eot?rjxoyh');
	src: url('../fonts/mm-icons.eot?rjxoyh#iefix') format('eot'),
		url('../fonts/mm-icons.woff?rjxoyh') format('woff'),
		url('../fonts/mm-icons.ttf?rjxoyh') format('truetype'),
		url('../fonts/mm-icons.svg?rjxoyh#mm-icons') format('svg');
}

@font-face {
	font-family: "montserrat-regular";
	src: url("../fonts/Montserrat-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "montserrat-medium";
	src: url("../fonts/Montserrat-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "montserrat-semibold";
	src: url("../fonts/Montserrat-SemiBold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica-neue";
	src: url("../fonts/HelveticaNeue-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica-oblique";
	src: url("../fonts/Helvetica-Oblique.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "helvetica-boldoblique";
	src: url("../fonts/Helvetica-BoldOblique.ttf");
	font-weight: normal;
	font-style: normal;
}