//fonts
$font-icons: "mm-icons";
$font-montserrat-regular: "montserrat-regular", Arial, sans-serif;
$font-montserrat-medium: "montserrat-medium", Arial, sans-serif;
$font-montserrat-semibold: "montserrat-semibold", Arial, sans-serif;
$font-helvetica-neue: "helvetica-neue", Arial, sans-serif;
$font-helvetica-oblique: "helvetica-oblique", Arial, sans-serif;
$font-helvetica-boldoblique: "helvetica-boldoblique", Arial, sans-serif;


//fonts settings
$font-size-logo: 24px;
$font-size-display: 20px;
$font-size-heading-big: 60px;
$font-size-heading-section: 36px;
$font-size-subheading-body-big: 18px;
$font-size-heading: 16px;
$font-size-subheading-body: 14px;
$font-size-caption: 12px;
$font-size-foreign-label: 11px;
$font-size-axis: 10px;
$font-size-history-small: 8px;

$font-line-height-totals: 29px;
$font-line-height-display: 28px;
$font-line-height-heading-big: 73px;
$font-line-height-heading-section: 44px;
$font-line-height-heading: 24px;
$font-line-height-description: 23px;
$font-line-height-subheading-body-big: 21px;
$font-line-height-subheading-body: 20px;
$font-line-height-tabs: 19px;
$font-line-height-subheading-section: 17px;
$font-line-height-caption: 16px;
$font-line-height-history: 15px;
$font-line-height-foreign-label: 12px;
$font-line-height-axis: 10px;

$font-weight-display: 600;
$font-weight-body: 500;

//devices
$width-mobile: 320px;
$width-mobile-wide: 640px;
$width-tablet: 768px;
$width-desktop-small: 1024px;
$width-desktop: 1366px;
$width-hd-desktop: 1600px;
$width-desktop-wide: 1920px;

//colors
$white: #fff;
$black: #000;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$orange: #ffa500;
$color1: #b7b3b3;
$color2: #dbd6d6;
$color3: #555;
$color4: #e7e7e7;
$color5: #f8f8f8;
$color6: #6a7d8d;
$color_1: #484848;
$color_2: #5ea5ff;
$color_3: #73b1ff;
$color_4: #cfe1fa;
$color_5: #90c0ff;
$color_6: #6eaeff;
$color_7: #85baff;
$color_8: #6dadff;
$color_9: #648ef9;
$color_10: #c3d7ff;
$color_11: rgba(209, 204, 204, 0.5);
$color_12: #eaf0ff;
$color_13: #a8c0ff;
$color_14: rgba(241, 248, 254, 0.5);
$color_15: #6d6c6c;
$color_16: #c5c5c5;
$color_17: #f5f9ff;
$color_18: rgba(72, 72, 72, 0.8);
$color_19: #f1f6ff;
$color_20: #d0e2fe;
$color_21: #6c7d85;
$color_22: #80bdff;
$color_23: #569bfd;
$color_24: #dc3545;
$color_25: #ffc107;
$color_26: #4390fc;
$color_27: #92c0fd;
$color_28: #deebff;
$color_29: #589dfc;
$color_30: #4c93fc;
$color_31: #22ba9f;
$color_32: #fe7070;
$color_33: #e5f4f1;
$color_34: #b5e5dd;
$color_35: #f8e5e5;
$color_36: #f1d4d4;
$color_37: #e6e6e6;
$color_38: #d0d0d0;
